.Project-Card {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 90vw;
  margin: 10px 0;
  padding: 10px;
  background: #eee;

  .Project-Media {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50vh;
    overflow-x: scroll;

    img,
    iframe {
      height: 100%;
      width: 90%;
      margin: 0 5%;
      object-position: top;
      border-radius: 5px;
    }
  }

  .Project-Members {
    display: flex;
    flex-wrap: wrap;
    img {
      height: 50px;
      width: 50px;
      object-fit: cover;
      margin: 1px;
      border-radius: 50px;
    }
  }
}

.Project-Details {
  position: relative;
}

.RemoveBtn {
  height: 15px;
  width: 15px;
  padding: 15px;
  font-size: 18px;
  border-radius: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  background: rgb(68, 68, 68);
  align-items: center;
  border: 3px solid black;
  color: white;

  &:hover {
    background: rgb(233, 78, 58);
  }
}

@media screen and (min-width: 1024px) {
  .Project-Card {
    flex-direction: row;
    background-color: white;
    width: 100%;

    .Project-Media {
      flex-direction: row;
      flex-wrap: nowrap;
      width: 50%;
      overflow-x: initial;
      img,
      iframe {
        height: 150px;
        width: 150px;
        margin: 0;
      }
    }
    .Project-Details {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 25px;
      background: #eee;
    }
  }
}
