.Collage-Container {
  height: 30vh;
  width: 100vw;
}

#Collage-Img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 1024px) {
  .Collage-Container {
    height: 50vh;

    .Collage-Overlay {
      padding: 5%;
    }
  }
}
