.Create-Project-Form {
  background: #eee;
  padding: 20px;
  width: 95vw;
  margin: 15px;

  h1 {
    padding: 0;
  }

  .GeneralInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input,
    textarea {
      width: 100%;
      padding: 5px;
      margin: 5px;
    }
  }

  .MembersListContainer {
    padding: 5px;
    .MembersList {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      height: 250px;
      width: 100%;
      .MemberInput {
        width: 50%;
        label {
          padding: 5px;
        }
      }
    }
  }
  .CustomFields {
    div {
      margin: 15px 0;

      .TempMembers,
      .VideoUrls {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        .TempMember,
        .VideoUrl {
          display: flex;
          align-items: center;
          width: 50%;

          p {
            margin: 0;
          }
          button {
            background: rgb(68, 68, 68);
            display: flex;
            justify-content: center;
            align-items: center;

            height: 30px;
            width: 30px;

            border: 3px solid black;
            border-radius: 100%;
            color: #eee;
            margin-right: 10px;

            &:hover {
              background: rgb(233, 78, 58);
              color: white;
            }
          }
        }
      }
    }
  }

  input[type="submit"] {
    padding: 10px;
    width: 25%;
  }
}

#ImageForm {
  display: flex;
  flex-direction: column;
}
