#About {
  font-size: 14px;
  background: #f8f9fa;
}

.About-Details {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    padding: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .About-Details {
    padding: 30px;
    p {
      max-width: 50%;
      font-size: 1.3rem;
    }
  }
}
