.adminOptionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  background: #eee;

  .adminOption {
    text-decoration: none;
    color: black;
    text-align: center;

    background-color: rgb(224, 224, 224);
    margin: 15px;
    padding: 10px;
    &:hover {
      background-color: rgb(182, 182, 182);
      color: black;
    }
  }
}

#Admin {
  padding: 0;
  width: 100vw;
}

.AllProjects {
  display: flex;
  justify-content: center;
  width: 100%;
}
.ProjectTab {
  color: black;
  text-decoration: none;
  margin: 10px;
  padding: 5px;
  background-color: rgb(214, 214, 214);
  &:hover {
    background-color: tomato;
    color: white;
  }
}
