@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.Section {
  padding-bottom: 30px;
  padding: 0 15px;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  h1 {
    padding: 15px;
  }
}
