@import "../../node_modules/bootstrap/scss/bootstrap.scss";
section {
  padding: 15px 0px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  h1 {
    padding: 15px;
  }
}
